<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Angular</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="../0000-index.html">Angular</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#"><span
						class="sr-only">(current)</span> </a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron rounded-0" ng-app="myApp" ng-controller="myCtrl">

			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<ul>
								<li ng-repeat="x in names | orderBy:'country'">
								{{ x.name + ', ' + x.country }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<ul>
								<li ng-repeat="x in names | orderBy:'country'">
								{{ x.name + ', ' + x.country | lowercase }}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<h6>Price: {{ price | currency }}</h6>
						</div>
					</div>
				</div>
			</div>
			
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<ul>
							  <li ng-repeat="x in names | filter : 'i'">
							    {{ x.name }}
							  </li>
							</ul>
						</div>
					</div>
					<p>This example displays only the names containing the letter "i".</p>
				</div>
			</div>
			
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-4">
							<p>Type a letter in the input field:</p>
	
							<input type="text" class="form-control form-control-sm" ng-model="test"></p>
							<ul>
							  <li ng-repeat="x in names | filter : test">
							    {{ x.name }}
							  </li>
							</ul>
						</div>
					</div>
					<p>The list will only consists of names matching the filter.</p>
				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-8">
							<table class="table table-sm table-bordered table-hover">
							  <tr class="bg-info">
							    <th ng-click="orderByMe('name')">Name</th>
							    <th ng-click="orderByMe('country')">Country</th>
							  </tr>
							  <tr ng-repeat="x in names | orderBy:myOrderBy">
							    <td>{{x.name}}</td>
							    <td>{{x.country}}</td>
							  </tr>
							</table>
						</div>
					</div>
					<p>Click the table headers to change the sorting order:</p>
				</div>
			</div>						
			
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-md-8">
							<ul>
							<li ng-repeat="x in names">
							    {{x.name | myFormat}}
							</li>
							</ul>
						</div>
					</div>
					<p>Make your own filters.</p>
					<p>This filter, called "myFormat", will uppercase every other character.</p>
				</div>
			</div>		
			
			<script>
			var app = angular.module('myApp', []);
			app.filter('myFormat', function() {
		        return function(x) {
		            var i, c, txt = "";
		            for (i = 0; i < x.length; i++) {
		                c = x[i];
		                if (i % 2 == 0) {
		                    c = c.toUpperCase();
		                }
		                txt += c;
		            }
		            return txt;
		        };
		    });
			app.controller('myCtrl', function($scope) {
			    $scope.names = [
			        {name:'Jani',country:'Norway'},
			        {name:'Carl',country:'Sweden'},
			        {name:'Margareth',country:'England'},
			        {name:'Hege',country:'Norway'},
			        {name:'Joe',country:'Denmark'},
			        {name:'Gustav',country:'Sweden'},
			        {name:'Birgit',country:'Denmark'},
			        {name:'Mary',country:'England'},
			        {name:'Kai',country:'Norway'}
			        ];
			    $scope.price = 58;
			    $scope.orderByMe = function(x) {
			        $scope.myOrderBy = x;
			    };
			});
			</script>
		</div>
	</div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>
</html>